.border-components {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: lucida-bright;
}
.match{
    width: 400px;
    float: left;
    margin-top: 20px;
}
.name-components {
    font-size: 30px;
    text-align: center;
}
.info-team img{
    height: 70px;
    width: 70px;
}
.info-team {
    display: flex;
    justify-content: space-between;
}
.des-info {
    margin-left: 10px;
}
.match-info{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding:5px;
    width: 350px;
    height: 350px;
    overflow: hidden;
    cursor: pointer;
}
.info-match img{
    height: 70px;
    width: 70px;
}
.info-match {
    display: flex;
}
.match-list a {
    font-size: 20px;
    text-align: left;
    font-weight: 300;
}
.header-fixed-match{
    width: 100%;
    height: 70px;
    /* position: fixed;  */
    z-index: 2;
    transition: 1s;
}
  input.input-match {
    height: 25px;
    border-radius: 5px;
    margin-left: 100px;
    width: 30%;
}
select.select-match {
    margin-left: 50px;
    height: 30px;
    width: 150px;
}
button.btn-search {
    margin-left: 50px;
    height: 30px;
    border-radius: 7px;
    width: 100px;
    font-weight: 500;
    font-size: 20px;
    font-family: tahoma;
}
.border-list-match{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 1500px;
    margin: auto;
    height: auto;
    margin-top: 30px;
}
.info-team-index img{
    height: 150px;
    width: 150px;
}
.info-team-index {
    display: flex;
    justify-content: space-between;
}
.info-match-index img{
    height: 150px;
    width: 150px;
}
.info-match-index {
    display: flex;
}
.type-match-team {
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 500;
}
.type-match{
    display: flex;
    justify-content: space-around;

}
.match-info:hover {
    /* background: black; */
    transform: scale(1.1);
    transition: 0.3s;
}
.hidden-info-match {
    height: 700px;
    width: 360px;
    position: fixed;
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.detail-team img{
    height: 110px;
    width: 150px;
}
.detail-team {
    display: flex;
    justify-content: flex-start;
    padding: 5px;
}
.name-team-cap {
    text-align: center;
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
}
.detail-team-match {
    margin-left: 20px;
}
.name-captain {
    text-align: center;
    border-bottom: 5px solid #e22889;
}
.info-player img{
    height: 130px;
    width: 130px;
}
.info-player {
    display: flex;
    padding: 10px;
}
.info-attribute {
    margin-left: 10px;
}
.name {
    display: flex;
}
.progress-bar {
    width: 120px;
}
.number-player {
    position: absolute;
    right: 10px;
    font-size: 25px;
}
button.btn-info {
    height: 50px;
    width: 100px;
    border-radius: 10px;
    margin: 1px;
    cursor: pointer;
    background: #e00a0a;
    color: white;
    font-weight: 700;
}
button.btn-info1 {
    height: 50px;
    width: 100px;
    border-radius: 10px;
    margin: 1px;
    cursor: pointer;
    background: #5fc233;
    color: white;
    font-weight: 700;
}
.btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}
.btn1 {
    display: flex;
    justify-content: flex-end;
    margin-top: -50px;
}
.match-info:hover .btn {
    margin-top: -50px;
    transition: 0.2s;
}